<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Mini CRM</a>

    <div class="ms-auto">
      <a class="btn btn-outline-primary me-2"
         routerLink="/"
         routerLinkActive="active">
        Įmonių sąrašas
      </a>

      <a class="btn btn-primary"
         routerLink="/new-company"
         routerLinkActive="active">
        Nauja įmonė
      </a>
    </div>
  </div>
</nav>
